extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/api.css")

block content
    h1.title سناریوها
    .add-senario2
        form(action="/dashboard/api-add-senario" method="POST") 
            input.hidden(type="number" name="senarioNum" value="#{workshop.length}")
            input.text(type="text" name="title" placeholder="عنوان سناریو...")
            input.submit(type="submit" value="افزودن سناریو جدید")
    .api
        -for(var i=0; i<workshop.length; i++){
            a(href="/dashboard/api-senario?id=#{workshop[i]._id}") 
                .senario 
                    h1
                        i.fa.fa-paperclip
                        | #{workshop[i].title}
                    .num تعداد سوالات: #{workshop[i].data.length}
            
        -}
    //- .popup-area#add-senario
    //-     .popup
    //-         i.fa.fa-times.close-popup
    //-         h1.popup-title افزودن سناریو جدید
    script(src="/js/api.js") 


