doctype html

html
    head
        title Register
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
        script(src="/js/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="theme-color" content="#febf18")
        //- script(src="/js/index.js")
        link(rel="stylesheet", href="/css/dashboard/dashboard-layout.css")
        block styles
    body
        #open-side-bar 
            i.fa.fa-list-ul
        .black-modal
        .black-modal2
        .dashboard
            .side-bar 
                .avatar
                    -if(user.role == 'user')
                        img(src="/img/avatar/1.png", alt="avatar")
                    -else
                        img(src="/img/avatar/10.png", alt="avatar")
                .name= user.fullname
                .card موجودی: 
                    .green #{user.card} ریال
                .nav-links 
                    -if(user.role == 'user'){
                        a.sidebar-nav-link(href="/dashboard") 
                            i.fa.fa-user 
                            | داشبورد
                        .break 
                        a.sidebar-nav-link(href="/dashboard/user-courses-view") 
                            i.fa.fa-book
                            | دوره های من
                        .break 
                        a.sidebar-nav-link(href="/dashboard/user-payments") 
                            i.fa.fa-credit-card
                            | صورت حساب ها
                        //- .break 
                        //- a.sidebar-nav-link(href="#") 
                        //-     i.fa.fa-bell
                        //-     | اعلان ها
                        //- .break 
                        //- a.sidebar-nav-link(href="#") 
                        //-     i.fa.fa-gears
                        //-     | تنظیمات
                    -}else if(user.role == 'admin'){
                        a.sidebar-nav-link(href="/dashboard") 
                            i.fa.fa-user 
                            | داشبورد
                        .break 
                        a.sidebar-nav-link(href="/dashboard/courses") 
                            i.fa.fa-book
                            | دوره ها
                        .break 
                        a.sidebar-nav-link(href="/dashboard/users-view") 
                            i.fa.fa-users
                            | کاربران
                        .break 
                        a.sidebar-nav-link(href="/dashboard/discount") 
                            i.fa.fa-credit-card
                            | تخفیف ها
                        .break 
                        a.sidebar-nav-link(href="/dashboard/admin-payments") 
                            i.fa.fa-dollar
                            | مالی
                        .break 
                        -if(user.idNumber == '2581340517' || user.idNumber == '1818571668'){
                            a.sidebar-nav-link(href="/dashboard/api") 
                                i.fa.fa-tv
                                | کشف الاسرار
                        -}
                        //- a.sidebar-nav-link(href="#") 
                        //-     i.fa.fa-gears
                        //-     | تنظیمات
                    -}
                a.logout(href="/users/logout") 
                    i.fa.fa-power-off
                    | خروج

            .content-area
                block content
        script(src="/js/dashboard-layout.js")     