extends cpanel-layout

block content 
    .messages-area#messages-container
        //- .message 
        //-     .text فلان اتفاق افتاد
        //-     .time 10:39
    
    //- script(src="/js/chat.js") 