

@media only screen and (min-width: 800px) {
     
    h1.title {
        margin: 0;
        font-family: 'iransans';
        font-size: 1.3vw;
        color: var(--blue);
        border-bottom: var(--blue) 0.1vw solid;
        width: 50%;
        margin: auto;
        text-align: center;
        margin-bottom: 1vw;
        margin-top: 2vw;
    }
    .two-side-cont {
        overflow: hidden;
        width: 90%;
        margin: auto;
    }
    .two-side-cont .break-side {
        background-color: lightgray;
        width: 0.1vw;
        height: 20vw;
        overflow: hidden;
        float: right;
        margin: 1vw;
    }
    .two-side-cont .part {
        float: right;
        width: 46%;
        margin: 1%;
    }
    .two-side-cont .part .text-input {
        border-radius: 2vw;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        margin-bottom: 1.5vw;
        background-color: white;
    }
    .two-side-cont .part .text-input i {
        font-size: 1.2vw;
        color: var(--blue);
        padding: 0.5vw 1vw;
    }
    .two-side-cont .part .text-input input {
        font-family: 'iransans';
        font-size: 1.1vw;
        padding: 0.4vw 1vw;
        border: none;
        width: 80%;
    }
    .two-side-cont .part .text-input input:focus {
        outline: none;
    }
    .two-side-cont .part textarea {
        font-family: 'iransans';
        font-size: 1.1vw;
        padding: 0.4vw 1vw;
        border: none;
        width: 80%;
        border-radius: 1vw;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        margin-bottom: 1.5vw;
        width: 93%;
        height: 14vw;
        resize: vertical;
    }
    .two-side-cont .part textarea:focus {
        outline: none;
    }
    .two-side-cont .age-input {
        margin-bottom: 1vw;
    }
    .two-side-cont .age-input input {
        font-family: 'iransans';
        font-size: 1.1vw;
        padding: 0.4vw 1vw;
        border: none;
        width: 80%;
        border-radius: 2vw;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        margin-bottom: 1.5vw;
        width: 4vw;
        margin: 0 0.3vw;
        text-align: center;
    }
    .two-side-cont .age-input input:focus {
        outline: none;
    }
    .two-side-cont .date-input {
        margin-bottom: 1vw;
    }
    .two-side-cont .date-input input {
        font-family: 'iransans';
        font-size: 1.1vw;
        padding: 0.4vw 1vw;
        border: none;
        width: 80%;
        border-radius: 2vw;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        margin-bottom: 1.5vw;
        width: 4vw;
        margin: 0 0.3vw;
        text-align: center;
    }
    .two-side-cont .date-input input:focus {
        outline: none;
    }
    .two-side-cont input.file {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .two-side-cont input.submit {
        border: none;
        font-family: 'iransans';
        font-size: 1.1vw;
        background-color: var(--blue);
        color: white;
        padding: 0.5vw 4vw;
        border-radius: 1vw;
        cursor: pointer;
        transition-duration: 500ms;
        margin-top: 1vw;
        /* margin-right: 2vw; */
    }
    .two-side-cont input.submit:hover {
        background-color: chocolate;
    }
    .two-side-cont .upload-area {
        border: lightblue 2px dashed;
        position: relative;
        cursor: pointer;
        padding: 2vw 0;
        text-align: center;
        color: #798AAF;
        font-family: 'iransans';
        font-size: 1.3vw;
        width: 98%;
        border-radius: 1vw;
        margin-bottom: 1vw;
    }
    .two-side-cont .cover-image {
        width: 98%;
        margin: auto;
    }
    .two-side-cont .cover-image img {
        width: 100%;
    }
    .two-side-cont .text {
        text-align: justify;
        font-family: 'iransans';
        font-size: 1.1vw;
        margin-bottom: 1vw;
    }
    .two-side-cont a.submit {
        border: none;
        font-family: 'iransans';
        font-size: 1.2vw;
        background-color: var(--green);
        color: white;
        padding: 0.5vw 4vw;
        border-radius: 1vw;
        cursor: pointer;
        transition-duration: 500ms;
        margin-top: 1vw;
        text-decoration: none;
        margin-top: 2vw;
        display: block;
        width: fit-content;
    }
    .two-side-cont a.submit:hover {
        background-color: var(--hover);
    }
    .two-side-cont a.submit i {
        padding-left: 0.5vw;
    }
    .translation-panel .upload-area i {
        padding-right: 1vw;
        font-size: 1.8vw;
    }
     .action {
        overflow: hidden;
        margin-top: 1vw;
    }
     .action a {
        float: right;
        padding: 0.3vw 1vw;
        text-decoration: none;
        border-radius: 1.5vw;
        margin-left: 1vw;
        background-color: rgb(81, 212, 81);
        color: white;
        transition-duration: 500ms;
    }
     .action a:hover {
        background-color: rgb(0, 255, 0);
    }
     .action a i {
        padding-left: 1vw;
    }
     .action a.remove {
        background-color: salmon;
    }
     .action a.remove:hover {
        background-color: rgb(255, 25, 0);
    }
     .action a.edit {
        background-color: lightskyblue;
    }
     .action a.edit:hover {
        background-color: rgb(0, 157, 255);
    }
     .action a.status {
        background-color: white;
        border: var(--blue) 0.2vw solid;
        color: var(--blue);
        padding: 0.1vw 1vw;
        font-size: 1vw;
    }
     .action a.status.active {
        background-color: var(--blue);
        color: white;
    }
    .cover-img-edit{
        overflow: hidden;
        border-radius: 1vw;
        position: relative;
        width: 50%;
        margin: auto;
    }
    .cover-img-edit img.cover{
        width: 100%;
        display: block;
    }
    .cover-img-edit #change{
        background-color: rgba(0, 0, 0, 0.322);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        font-weight: bold;
        font-family: 'iransans';
        font-size: 1.5vw;
        padding: 3.5vw 0;
        cursor: pointer;
        display: none;
    }
    .cover-img-edit #change i{padding-left: 0.5vw;}
    
    .popup-area input.file {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .popup-area input.submit {
        border: none;
        font-family: 'iransans';
        font-size: 1.1vw;
        background-color: var(--blue);
        color: white;
        padding: 0.5vw 4vw;
        border-radius: 1vw;
        cursor: pointer;
        transition-duration: 500ms;
        margin-top: 1vw;
        /* margin-right: 2vw; */
    }
    .popup-area input.submit:hover {
        background-color: chocolate;
    }
    .popup-area .upload-area {
        border: lightblue 2px dashed;
        position: relative;
        cursor: pointer;
        padding: 2vw 0;
        text-align: center;
        color: #798AAF;
        font-family: 'iransans';
        font-size: 1.3vw;
        width: 98%;
        border-radius: 1vw;
        margin-bottom: 1vw;
    }
}

@media only screen and (max-width: 800px) {}
