@media only screen and (min-width: 800px) {
    
    h1.pay-title {
        /* width: 85%; */
        margin-right: 5%;
        font-family: 'iransans';
        font-size: 1.5vw;
        color: var(--blue);
        border-bottom: lightgray 0.1vw solid;
        /* padding: 0.3vw 0; */
    }
    .course-list{
        width: 60%;
        margin-right: 5%;
        padding: 2vw 0;
        padding-bottom: 1vw;
        overflow: hidden;
    }
    .course-list .not-found{
        text-align: center;
        color: rgb(145, 145, 145);
        font-size: 1.3vw;
    }
    .course-list .not-found a{
        text-decoration: none;
        color: var(--blue);
        font-weight: bold;
    }
    .course-list .not-found a:hover{
        color: chocolate;
    }
    .course-list .card{
        float: right;
        width: 30%;
        margin: 1vw;
        background-color: rgb(248, 248, 248);
        box-shadow:  0.3vw  0.3vw 0.6vw #bebebe,
                    -0.3vw -0.3vw 0.6vw #ffffff;
        border-radius: 1vw;
        min-height: 29vw;
        position: relative;
        cursor: pointer;
        transition-duration: 500ms;
    }
    .course-list .card:hover{
        box-shadow:  0.3vw  0.3vw 1vw #3b3b3b9d,
                    -0.3vw -0.3vw 1vw #ffffff;
    }
    .course-list .card .image img{
        width: 100%;
        height: 12vw;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
    }
    .course-list .card .title{
        color: var(--brown);
        font-weight: bold;
        width: 90%;
        margin: auto;
        font-size: 1.2vw;
    }
    .course-list .card .text{
        color: rgb(90, 90, 90);
        width: 90%;
        margin: auto;
        font-size: 1vw;
        text-align: justify;
        margin-bottom: 2vw;
    }
    .course-list .card .price{
        position: absolute;
        bottom: 1vw;
        left: 2vw;
        font-size: 1.2vw;
        /* font-weight: bold; */
        color: rgb(0, 190, 0);
    }
    .course-list .card.add-course{
        background-color: rgb(255, 192, 185);
        text-align: center;
        cursor: pointer;
        transition-duration: 500ms;
    }
    .course-list .card.add-course:hover{
        background-color: salmon;
    }
    .course-list .card.add-course i.plus{
        color: white;
        margin: 6vw auto;
        margin-bottom: 0;
        font-size: 10vw;
    }
    .course-list .card.add-course .add-text{
        color: white;
        font-size: 2vw;
        margin: 0;
    }
    a.show-more{
        color: green;
        font-family: 'iransans';
        font-size: 1.3vw;
        text-align: left;
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 2vw;
        text-decoration: none;
        /* font-weight: bold; */
        transition-duration: 500ms;
    }
    a.show-more:hover{
        font-weight: bold;
        color: var(--hover);
    }
    a.show-more i{
        padding-left: 0.4vw;
        font-size: 0.8vw;
    }
    .course-list .course{
        background-color: rgb(255, 255, 255);
        border-radius: 1vw;
        overflow: hidden;
        margin-bottom: 1vw;
        position: relative;
        padding: 0;
        
    }
    .course-list .course .cover-img{
        float: right;
        width: 30%;
        margin: 0;
        padding: 0;
        height: fit-content;
        /* height: 9vw; */
    }
    .course-list .course .cover-img img{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .course-list .course .info{
        float: right;
        padding: 0.7vw 2vw;
    }
    .course-list .course .info .title{
        color: var(--blue);
        font-weight: bold;
        font-family: 'iransans';
        font-size: 1.3vw;
    }
    .course-list .course .info .subtitle{
        color: var(--text);
        margin: 0;
        font-family: 'iransans';
        font-size: 1vw;
    }
    .course-list .course .labels{
        position: absolute;
        left: 0;
        top: 0.5vw;
        overflow: hidden;
    }
    .course-list .course .price{
        position: absolute;
        left: 2vw;
        bottom: 1vw;
        font-family: 'iransans';
        font-size: 1.7vw;
        /* font-weight: bold; */
        color: var(--green);
    }
    .course-list .course .labels .label.green{background-color: rgb(42, 228, 42);}
    .course-list .course .labels .label.red{background-color: salmon;}
    .course-list .course .labels .label{
        float: left;
        margin: 0 0.5vw;
        padding: 0.3vw 1vw;
        border-radius: 1vw;
        color: white;
    }
    .course-list .course .labels a.remove{
        display: block;
        float: left;
        padding: 0.3vw 1vw;
        border-radius: 1vw;
        margin: 0 0.5vw;
        /* background-color: var(--red); */
        color: red;
        font-size: 1.5vw;
    }
    .course-list .course .labels a.remove:hover{
        background-color: var(--hover);
    }
    .course-list .course a .label.red:hover{
        background-color: var(--hover);
    }
    .payment-card{
        position: fixed;
        top: 6.5vw;
        left: 4vw;
        width: 22%;
    }
    .payment-card .info{
        border: lightgreen 0.2vw solid;
        background-color: white;
        border-radius: 1vw;
        padding: 2vw;
    }
    .payment-card .info .info-part.first{
        border: none;
    }
    .payment-card .info .info-part{
        overflow: hidden;
        margin: 0.7vw 0;
        border-top: lightgray 0.1vw solid;
        padding: 0.5vw 0;
    }
    .payment-card .info .item-title{
        float: right;
        width: 50%;
        text-align: right;
        font-weight: bold;
        font-size: 1.3vw;
    }
    .payment-card .info .item-value{
        float: left;
        width: 50%;
        text-align: left;
        font-size: 1.4vw;
    }
    .payment-card .info .sum.green{
        color: var(--green);
        text-align: left;
        /* font-weight: bold; */
        font-family: 'iransans';
        font-size: 2vw;
    }
    .payment-card a.pay{
        background-color: var(--green);
        color: white;
        display: block;
        margin: 2vw 0;
        text-align: center;
        font-family: 'iransans';
        font-size: 1.5vw;
        text-decoration: none;
        padding: 0.5vw 0;
        border-radius: 1vw;
        transition-duration: 500ms;
    }
    .payment-card a.pay:hover{
        background-color: var(--hover);
    }
    .discount {
        width: 50%;
        margin-right: 5%;
        background-color: rgb(179, 255, 179);
        border-radius: 1.5vw;
        padding: 0.5vw 1vw;
    }
    a.add-course{
        background-color: var(--blue);
        margin-right: 5%;
        padding: 0.5vw 1vw;
        border-radius: 1.5vw;
        color: white;
        font-family: 'iransans';
        font-size: 1.3vw;
        text-decoration: none;
        transition-duration: 500ms;
        display: block;
        width: fit-content;
        margin-bottom: 1vw;
    }
    a.add-course:hover{
        background-color: var(--hover);
        border-radius: 0.3vw;
    }
}
@media only screen and (max-width: 800px) {
    
}






