/* --------- Declarations ----------- */

@font-face {
    font-family: 'iransans';
    src: url('../iransans.ttf');
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes goRight {
    from {
        margin-right: 3vw;
    }
    to {
        margin-right: 0;
    }
}
@keyframes goUp {
    from {
        margin-top: 5vw;
    }
    to {
        margin-top: 0.5vw;
    }
}
:root {
    /* --purple: #8305be; */
    --background: #404548;
    --boxborder: #66666C;
    --boxbackground: #2B2F32;
    --brown: #3e2917;
    --blue: #19b5e4;
    --green: #18d112;
    --yellow: #febf18;
    --hover: #a281fa;
    --dark: #050507;
    --light: white;
    --kerem: #eec278;
    --red: #ff0000;
    --text: rgb(100, 100, 100);
}
body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    direction: rtl;
    background-color: white;
}
.black-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.black-modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.transparent-modal {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.dashboard {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.hidden {
    display: none;
}
.visible{
    display: block;
}
.center {
    text-align: center;
}
input:focus{outline: none;}
@media only screen and (min-width: 800px) {
    .class-container{
        overflow: hidden;
        width: 100%;
        height: 100vh;
    }
    .class-container .sideBar {
        background-color: var(--background);
        width: 20%;
        float: right;
        height: 100vh;
        overflow-y: scroll;
        position: relative;
    }
    .class-container .sideBar::-webkit-scrollbar {
        display: none;
    }      
    .class-container .iframe-area{
        width: 80%;
        float: right;
    }
    .class-container .iframe-area iframe{
        width: 100%;
        height: 100vh;
    }
    .class-container .sideBar img.avatar{
        width: 25%;
        float: right;
    }
    .class-container .sideBar .user-info{
        padding: 1.3vw 2vw;
        overflow: hidden;
    }
    .class-container .sideBar .user-info .titles{
        float: right;
        width: 70%;
        margin-right: 5%;
    }
    .class-container .sideBar .user-info .titles h1.title{
        font-family: 'iransans';
        font-size: 1.4vw;
        margin: 0;
        color: var(--blue);
    }
    .class-container .sideBar .user-info .titles h1.class-name{
        font-family: 'iransans';
        font-size: 1.3vw;
        margin: 0;
        /* margin-top: 0.5vw; */
        color: var(--yellow);
    }
    .box{
        border: var(--boxborder) 0.7vw solid;
        background-color: var(--boxbackground);
        width: 80%;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 1vw;
        margin-bottom: 1vw;
        /* margin-top: 1vw; */
    }
    .box h1.box-title{
        background-color: var(--boxborder);
        margin: 0;
        color: white;
        font-family: 'iransans';
        font-size: 1.2vw;
        margin-top: -0.5vw;
        font-weight: normal;
    }
    .box h1.box-title i{
        padding-left: 1vw;
    }
    .box h1.title{
        color: var(--blue);
        font-family: 'iransans';
        font-size: 1.2vw;
        padding: 1vw;
        padding-bottom: 0.5vw;
        margin-bottom: 0;
        margin-top: 0;
    }
    .box input.number{
        background-color: var(--boxborder);
        color: white;
        padding: 0.2vw 1vw;
        width: 40%;
        border: none;
        box-shadow: 0 0 0.3vw 0.1vw rgba(255, 255, 255, 0.2);
        font-family: 'iransans';
        font-size: 1.1vw;
        margin-right: 1vw;
    }
    .box input.number::placeholder{
        color: rgb(163, 163, 163);
    }
    .box .submit-button{
        background-color: var(--blue);
        display: inline;
        color: white;
        padding: 0.2vw 1vw;
        font-family: 'iransans';
        font-size: 1.1vw;
        box-shadow: 0 0 0.3vw 0.1vw rgba(255, 255, 255, 0.2);
        margin-right: 0.5vw;
        cursor: pointer;
    }
    .box .submit-button:hover{
        background-color: lightblue;
    }
    .box .answers{
        padding: 1vw;
        padding-bottom: 0;
    }
    .box .ans{margin-bottom: 0.3vw;}
    .box .ans label.radio{
        color: white;
    }
    .box .score{
        margin-bottom: 0.5vw;
        margin-right: 1vw;
    }
    .box .score i{
        width: 1vw;
    }
    .box .score i.green{
        color: rgb(0, 255, 0);
    }
    .box .score i.red{
        color: rgb(247, 41, 41);
    }
    .box .bar-area{
        position: relative;
        direction: ltr;
        height: 0.7vw;
        width: 75%;
        margin: 1.1vw auto;
        background-color: lightgray;
        border-radius: 0.3vw;
    }
    .box .bar-area .bar{
        background-color: var(--blue);
        height: 0.7vw;
        width: 0%;
        border-radius: 0.3vw;
        transition-duration: 500ms;
    }
    .box .bar-area .question{
        color: white;
        font-family: 'iransans';
        font-size: 0.9vw;
        margin: 0;
        padding: 0;
        position: absolute;
        left: -1.5vw;
        top: -0.4vw;
    }
    .box .bar-area .number{
        top: -0.4vw;
        right: -1.5vw;
        color: white;
        font-family: 'iransans';
        font-size: 0.9vw;
        margin: 0;
        padding: 0;
        position: absolute;
    }
    #bars{margin-top: 2vw;}
    .button-end{
        background-color: var(--blue);
        /* display: inline; */
        color: white;
        padding: 0.2vw 0;
        font-family: 'iransans';
        font-size: 1.1vw;
        box-shadow: 0 0 0.3vw 0.1vw rgba(255, 255, 255, 0.2);
        cursor: pointer;
        text-align: center;
        width: 90%;
        margin: 5%;
    }
    .button-end:hover{
        background-color: var(--hover);
    }
    .sideBar .score-area{ 
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--background);
        color: lightgreen;
        font-family: 'iransans';
        font-size: 1.5vw;
        overflow: hidden;
        display: inline-flex;
    }
    .sideBar .score-area .score-label{ 
        font-size: 1vw;
        display: inline;
        color: rgb(243, 243, 243);
        margin-right: 0.5vw;
    }
    .sideBar .score-area .score{ 
        font-size: 1.1vw;
        display: inline;
        color: var(--blue);
    }
    .sideBar .score-area .score2{ 
        font-size: 1.1vw;
        display: inline;
        color: rgb(197, 197, 197);
    }
    
}
@media only screen and (max-width: 800px) {
    .class-container{
        overflow: hidden;
        width: 100%;
        height: 100vh;
    }
    .class-container .sideBar {
        display: none;
    }
    .class-container .iframe-area{
        width: 100%;
    }
    .class-container .iframe-area iframe{
        width: 100%;
        height: 100vh;
    }
}





